
mixin project(time, url, label, tech)
    div.project
        div.project_date=time
        div.project_label
            a(href=url title=label)=label
        div.project_tech= tech

mixin experience(time, url, label, role)
    div.experience
        div.experience_time= time
        div.experience_label
            a(href=url title=label)= label
        div.experience_role= role
        
mixin experienceLong(time, url, label, url2, label2, role)
    div.experience
        div.experience_time= time
        div.experience_label
            a(href=url title=label)= label
            | , 
            a(href=url2 title=label2)= label2
        div.experience_role= role
    
mixin skill(one, two)
    div.skill
        div.skill_col1= one
        div.skill_col2= two

mixin technology(area, list)
    div.technology
        div.technology_area= area
        div.technology_list= list

mixin misc(one, two)
    div.misc
        div.misc_col1= one
        div.misc_col2= two

doctype html
html(lang="en")
    head
        title Ben Follington
        meta(charset="UTF-8")
        <meta name="viewport" content="user-scalable=no; width=device-width; initial-scale=1.0; minimum-scale=1.0; maximum-scale=1.0">
        include ../styles.pug
    body
        section.main
            header.bio
                h1.name Ben Follington
                
                p I'm a UI Engineer, designer and independent game developer living in Brisbane, Australia.
                p I make powerful, intuitive and joyful software using the tools I love.
                p You'll find me working at the intersection of art, technology, psychology, philosophy and human connection.

                p <a href="https://bf.wtf" title="home">homepage</a> <a href="https://twitter.com/vivavolt" title="tweets">twitter</a> <a href="https://github.com/bfollington" title="open source">github</a> <a href="http://twopm.studio" title="video games I've made">twopm.studio</a> <a href="https://www.linkedin.com/in/bfollington" title="that one job site everyone loves">linkedin</a>

            section.education-list
                h2 &gt; Education
                div
                    div.education
                        div.education_date 2002 - 2010
                        div.education_label
                            a(href="http://www.bbc.qld.edu.au/" title="Brisbane Boys' College") Brisbane Boys' College
                        div.education_score HCE, OP 1

                    div.education
                        div.education_date 2011 - 2015
                        div.education_label
                            a(href="https://www.uq.edu.au/" title="University of Queensland") University of Queensland
                        div.education_score BEng (Software), 1st Class Honours, 6.75 Weighted GPA

            section.experience-list
                h2 &gt; Experience
                table
                    +experience("2018 - Present", "https://connectdevelop.com/", "Connect Develop", "Technical Lead")

                    +experience("2016 - Present", "http://twopm.studio", "TwoPM Studios", "Technical Founder")
                    
                    +experience("2017 - 2018", "http://www.conceptsafety.com.au/", "Concept Safety Systems", "Front-end Software Engineer & UX Design")
                    
                    +experience("2015 - 2017", "http://www.conceptsafety.com.au/", "Concept Safety Systems", "Full-Stack Web Developer, Research & Development Officer")
                    
                    +experience("2007 - 2016", "http://voltic.com.au", "Voltic Games", "Technical Founder")
                    
                    +experienceLong("2013 - 2014", "http://www.crowdsites.com/", "Crowdsites", "http://workingmouse.com.au/", "Workingmouse", "Full-Stack Web Developer")

                    +experience("2010 - 2011", "http://cetresources.com/", "CET Resources", "Web Design & Development In House")

                    +experience("2008 - 2010", "#", "Freelance", "Web Design & Development (for family and friends)")

            section.project-list
                h2 &gt; Projects
                table
                    +project("2021 - Present", "https://fundamental.sh", "fundamental.sh", "React, Next.js, stitches, MDX, three.js, webgl")

                    +project("2021 - Present", "https://www.hicetnunc.xyz/tz/tz1XHjbFVsAqp1J2gS9wbMXXMTv1cbh4F915", "Generative Art (NFTs)", "React, p5js, clojure, three.js, webgl, glsl, Ethereum, Tezos")

                    +project("2019 - Present", "https://twopm.studio/sotf", "The Song of The Fae", "C#, F#, Unity3d")

                    +project("2021", "https://github.com/bfollington/use-control", "use-control", "React, rxjs, npm")

                    +project("2021", "https://github.com/bfollington/furo", "furo", "React, rxjs, npm")

                    +project("2021", "https://twopm.itch.io/frogue", "FROGUE (7DRL)", "ClojureScript, Pixi.js")

                    +project("2021", "https://github.com/bfollington/restack", "restack", "React, emotion, npm")

                    +project("2020", "https://slashcommand.app", "slashcommand", "Clojure, Unity3d, Heroku")

                    +project("2019", "https://github.com/bfollington/use-stream", "use-stream", "React, rxjs, npm")

                    +project("2019", "https://github.com/bfollington/unity-tooltip-system", "unity-tooltip-system", "Unity3d, C#")

                    +project("2019 - 2020", "https://bf.wtf", "Personal Blog", "Gastby, React, Now.sh")

                    +project("2018 - 2020", "https://soundtracktomy.life", "Soundtrack to My Life", "Ruby, Rails, Heroku, Spotify API")

                    +project("2013 - 2018", "https://twopm.studio/the-thin-silence", "The Thin Silence", "AS3, Adobe AIR, Flashpunk")
                    
                    +project("2015", "https://twopm.itch.io/its-hard-to-be-a-cube", "It's Hard To Be A Cube", "AS3, Adobe AIR, Flashpunk")
                    
                    +project("2014 - 2015", "doublejump.html", "doublejump.io", "Ruby, Padrino, MongoDB, Digital Ocean")
                    
                    +project("2014", "https://github.com/bfollington/Trello-Cards-Unity", "Trello-Cards-Unity", "Trello API, C#, Unity3d")

                    +project("2014", "pck.html", "pck.io", "SmartOS, nginx, Ruby, MongoDB, Redis")
                    
                    +project("2013", "umh.html", "Unchain My Heart", "iOS, MMF2")
                    
                    +project("2013", "usn.html", "Nightmerica", "iOS, MMF2")
                    
                    +project("2012", "runrundie.html", "RunRunDie!", "iOS, MMF2")
                    
                    +project("2008", "https://twopm.itch.io/evereternal-winterworld-2", "EverEternal WinterWorld 2", "PC, MMF2")
                    
                    +project("2007", "https://twopm.itch.io/evereternal-winterworld", "EverEternal WinterWorld", "PC, MMF2")

            section.technology-list
                h2 &gt; Technologies
                table
                
                    +technology("Javascript", "Typescript, fp-ts, React, Redux, Zustand, emotion, stitches, snowpack, parcel, webpack, node.js, Cypress, PWA, canvas, svg, webgl")
                    +technology("Clojure", "Clojure, ClojureScript, re-frame, reagent, malli, reitit, aleph, manifold, datalog")
                    +technology("Functional Programming", "Clojure, F#, Elm, Haskell, ReasonML, Event Sourcing, CQRS")
                    +technology(".NET", "C#, F#, ASP.NET core, EF core, Unity3d")
                    +technology("HTML & CSS", "Pug, PostCSS, SCSS, Canvas, Chakra UI")
                    +technology("Ruby", "Sinatra, Padrino, Rails, Mongoid, Capybara")
                    +technology("Actionscript 3", "Flashpunk, AIR")
                    +technology("Misc.", "Java, Python, C, AS3, Lua, Swift, Kotlin")
                    +technology("Curious About", "Rust, Go, Racket, Unison")

            section.skill-list
                h2 &gt; Skills
                table
                    +skill("UI Engineering", "Web Front-end Architecture")
                    +skill("UI & UX Design", "Interaction Design and Development")
                    +skill("Systems Architecture", "Pixel Art & Animation")
                    +skill("API Design", "Functional Programming")


            section.misc-list
                h2 &gt; Tools
                table
                    +misc("AWS, Heroku, Netlify", "Vercel, Azure, Github Pages")
                    +misc("Photoshop, Illustrator, Figma", "Miro, Sketch, Invision, Framer X")
                    +misc("Version Control (Git)", "Github, Linear, Jira, Trello, Notion")
                    +misc("MySQL, PostgreSQL, NoSQL, Datomic", "vim... and a little emacs")

            p :wq!
                span.blink _
        
    include ../ga.html
