
mixin project(time, url, label, tech)
    div.project
        div.project_date=time
        div.project_label
            a(href=url title=label)=label
        div.project_tech= tech

mixin experience(time, url, label, role)
    div.experience
        div.experience_time= time
        div.experience_label
            a(href=url title=label)= label
        div.experience_role= role
        
mixin experienceLong(time, url, label, url2, label2, role)
    div.experience
        div.experience_time= time
        div.experience_label
            a(href=url title=label)= label
            | , 
            a(href=url2 title=label2)= label2
        div.experience_role= role
    
mixin skill(one, two)
    div.skill
        div.skill_col1= one
        div.skill_col2= two

mixin technology(area, list)
    div.technology
        div.technology_area= area
        div.technology_list= list

mixin misc(one, two)
    div.misc
        div.misc_col1= one
        div.misc_col2= two

doctype html
html(lang="en")
    head
        title Ben Follington
        meta(charset="UTF-8")
        <meta name="viewport" content="user-scalable=no; width=device-width; initial-scale=1.0; minimum-scale=1.0; maximum-scale=1.0">
        include ../styles.pug
    body
        section.main
            header.bio
                h1.name Ben Follington
                p UI Engineer, Designer and Independent Game Developer
                p I'm a 27-year-old living in Brisbane, Australia. I like making simple, elegant, useful and fun things using computers.
                p <a href="https://twitter.com/vivavolt" title="tweets">@vivavolt</a> <a href="https://github.com/bfollington" title="open source">github.com/bfollington</a> <a href="http://twopm.studio" title="video games I've made">twopm.studio</a> <a href="https://photos.bf.wtf" title="photos from around the world">photos</a> <a href="https://www.linkedin.com/in/bfollington" title="that one job site everyone loves">linkedin</a>

            section.education-list
                h2 &gt; Education
                div
                    div.education
                        div.education_date 2002 - 2010
                        div.education_label
                            a(href="http://www.bbc.qld.edu.au/" title="Brisbane Boys' College") Brisbane Boys' College
                        div.education_score HCE, OP 1

                    div.education
                        div.education_date 2011 - 2015
                        div.education_label
                            a(href="https://www.uq.edu.au/" title="University of Queensland") University of Queensland
                        div.education_score BEng (Software), 1st Class Honours, 6.75 Weighted GPA

            section.experience-list
                h2 &gt; Experience
                table
                    +experience("2018 - Present", "https://connectdevelop.com/", "Connect Develop", "Senior Frontend Developer")
                    
                    +experience("2017 - 2018", "http://www.conceptsafety.com.au/", "Concept Safety Systems", "Front-end Software Engineer & UX Design")

                    +experience("2016 - Present", "http://twopm.studio", "TwoPM Studios", "Technical Founder")
                    
                    +experience("2015 - 2017", "http://www.conceptsafety.com.au/", "Concept Safety Systems", "Full-Stack Web Developer, Research & Development Officer")
                    
                    +experience("2007 - 2016", "http://voltic.com.au", "Voltic Games", "Technical Founder")
                    
                    +experienceLong("2013 - 2014", "http://www.crowdsites.com/", "Crowdsites", "http://workingmouse.com.au/", "Workingmouse", "Full-Stack Web Developer")

                    +experience("2010 - 2011", "http://cetresources.com/", "CET Resources", "Web Design & Development In House")

            section.project-list
                h2 &gt; Projects
                table
                    +project("2019 - Present", "https://bf.wtf", "Personal Blog", "Gastby, React, Now.sh")

                    +project("2018 - Present", "https://soundtracktomy.life", "Soundtrack to My Life", "Ruby, Rails, Heroku, Spotify API")

                    +project("2013 - 2018", "https://twopm.studio/the-thin-silence", "The Thin Silence", "AS3, Adobe AIR, Flashpunk")
                    
                    +project("2015", "https://twopm.itch.io/its-hard-to-be-a-cube", "It's Hard To Be A Cube", "AS3, Adobe AIR, Flashpunk")
                    
                    +project("2014 - 2015", "doublejump.html", "doublejump.io", "Ruby, Padrino, MongoDB, Digital Ocean")
                    
                    +project("2014", "pck.html", "pck.io", "SmartOS, nginx, Ruby, MongoDB, Redis")
                    
                    +project("2013", "umh.html", "Unchain My Heart", "iOS, MMF2")
                    
                    +project("2013", "usn.html", "Nightmerica", "iOS, MMF2")
                    
                    +project("2012", "runrundie.html", "RunRunDie!", "iOS, MMF2")
                    
                    +project("2008", "https://twopm.itch.io/evereternal-winterworld-2", "EverEternal WinterWorld 2", "PC, MMF2")
                    
                    +project("2007", "https://twopm.itch.io/evereternal-winterworld", "EverEternal WinterWorld", "PC, MMF2")

            section.skill-list
                h2 &gt; Skills
                table
                    +skill("UI Engineering", "Web Front-end Architecture")
                    +skill("UI & UX Design", "Interaction Design and Development")
                    +skill("Branding & Identity", "Pixel Art & Animation")
                    +skill("API Design", "Back-end Architecture")

            section.technology-list
                h2 &gt; Technologies
                table
                
                    +technology("Web", "Typescript, fp-ts, React, Redux, emotion, Vue, Webpack, Node.js, PWAs")
                    +technology("Functional Programming", "F#, Clojure, Elm, Haskell, Event Sourcing, CQRS")
                    +technology(".NET", "C#, F#, ASP.NET core, EF core, Unity3d")
                    +technology("HTML & CSS", "Pug, PostCSS, SCSS, Canvas, Bulma, Bootstrap, Foundation, Material UI")
                    +technology("Ruby", "Sinatra, Padrino, Rails, Mongoid, Capybara")
                    +technology("Actionscript 3", "Flashpunk, AIR")
                    +technology("_", "Java, Python, C, AS3, Lua, Swift, Kotlin")

            section.misc-list
                h2 &gt; Misc.
                table
                    +misc("Adobe Photoshop, Illustrator, Flash", "Sketch, Figma, Framer X, Marvel")
                    +misc("AWS, Heroku, Netlify", "Now.sh, Azure, Github Pages")
                    +misc("Version Control (Git)", "\"Agile\" (ft. Jira, Trello, Notion)")
                    +misc("Databases (MySQL, MongoDB, PostgreSQL)", "vim...mode in VS Code ;)")

            p.blink _
        
    include ../ga.html
